body {
	margin:0px;
	padding:0px;
	background:#fff;/*#eeeeee;*/
	/*background-image:url(../images/desk_bag.jpg);*/
	/*font-family:"Times New Roman", Times, serif;*/
	font-family:Arial, Helvetica, sans-serif;
	/*background-size:100%;*/
	color:#0d0d0d;/*#3a00ff;*/
	font-size:90%;
}

legend {
	color:#000;
	font-weight:bold;
	font-size:14px;
	border:1px solid #2b2d93;/*#2c89b5;*/
	padding:5px 20px 5px 20px;
}

/*
** wrapper	start
*/
.wrapper {
	/*width:1160px;*/
	margin:0px auto 0px auto;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	width:99%;
	border-top:15px inset #2b2d93;
	border-left:5px groove #2b2d93;
	border-right:5px groove #2b2d93;
}

// By Alamgir

a.packagelist{
	text-decoration:none;
	}









.valid_msg {
	color:green;
}

.error_msg {
	color:#FF0000;
}

.validMsg {
	color:green;
}

.errorMsg {
	color:#FF0000;
}

.oddRow {
	background:#EEE9E9;
}

.evenRow {
	background:#F7F4F4;
}

.oddSubClass {
	background:#e5ffe5;
}

.evenSubClass {
	background:#fff;
}

.summaryCls {
	font-family:"Courier New", Courier, monospace;
	margin:30px 0px 10px 0px;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
}

.summaryCls td {
	padding:4px;
	margin:0px;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

.summaryCls h3 {
	margin:0px;
	text-align:center;
}
/*
** header	start
*/
.header {
	width:100%;
}

.banner {
	width:40%;
	float:left;
	/*background:url(../images/gradiant.png) repeat-x top left;*/
	/*text-align:center;*/
}

.logstatus {
	width:60%;
	/*background:url(../images/gradiant.png) repeat-x top left;*/
	text-align:right;
	float:left;
	height::100px;
}

.userlog {
	padding:5px 8px 0px 0px;
	font-size:12px;
	color:#000;
}

.datetime {
	text-align:right;
	padding:5px 15px 5px 10px;
	font-size:14px;
	font-weight:bold;
	color:#8fc83d;
}
/*
** header	end
*/

/*
** main_body	start
*/
.main_body {
	width:1180px;
	padding:30px 10px 10px 10px;
	background:#fff;
}

#empIdSuggestions {
	position:absolute;
	width:99%;
	min-height:150px;
	overflow:auto;
	z-index:99;
	border:1px solid #CA0303;
	background:#F7F4F4;
	top:20px;
	left:0px;
}

#suggestingEmpIdList {
	margin: 0px;
    padding: 0px;
}

#suggestingEmpIdList div {
	margin:0px;
	padding:3px 0px 3px 5px;
	font-size:85%;
	cursor: pointer;
}

#suggestingEmpIdList div:hover {
    background: #E8E1E1;
}

#empNameSuggestions {
	position:absolute;
	width:99%;
	min-height:150px;
	overflow:auto;
	z-index:99;
	border:1px solid #CA0303;
	background:#F7F4F4;
	top:20px;
	left:0px;
}

#suggestingEmpNameList {
	margin: 0px;
    padding: 0px;
}

#suggestingEmpNameList div {
	margin:0px;
	padding:3px 0px 3px 5px;
	font-size:85%;
	cursor: pointer;
}

#suggestingEmpNameList div:hover {
    background: #E8E1E1;
}


.ClassempIdSuggestions {
	position:absolute;
	width:99%;
	min-height:150px;
	overflow:auto;
	z-index:99;
	border:1px solid #CA0303;
	background:#F7F4F4;
	top:20px;
	left:0px;
}
.ClasssuggestingEmpIdList {
	margin: 0px;
	padding: 0px;
}
.ClasssuggestingEmpIdList div {
	margin:0px;
	padding:3px 0px 3px 5px;
	font-size:85%;
	cursor: pointer;
}
.ClasssuggestingEmpIdList div:hover {
	background: #E8E1E1;
}
.ClassempNameSuggestions {
	position:absolute;
	width:99%;
	min-height:150px;
	overflow:auto;
	z-index:99;
	border:1px solid #CA0303;
	background:#F7F4F4;
	top:20px;
	left:0px;
}
.ClasssuggestingEmpNameList {
	margin: 0px;
	padding: 0px;
}
.ClasssuggestingEmpNameList div {
	margin:0px;
	padding:3px 0px 3px 5px;
	font-size:85%;
	cursor: pointer;
}
.ClasssuggestingEmpNameList div:hover {
	background: #E8E1E1;
}
	

/*Start New Jquery suggestion css by - Md. Jubydul Haque*/
div.jsonSuggestResults {
	position:absolute;
	border:1px solid #CCC;
	padding:0px;
	margin:0px 2px;
	z-index:1;
}

div.jsonSuggestResults div.resultItem {
	margin:0px;
	padding:5px;
	position:relative;
	height:auto;
	cursor:pointer;
}

div.jsonSuggestResults div.resultItem.odd {
	background-color:#9ADFFE;
}
div.jsonSuggestResults div.resultItem.even {
	background-color:#FFFFFF;
}

div.jsonSuggestResults div.resultItem.hover {
	background-color:#3399FF;
}

div.jsonSuggestResults div.resultItem img {
	float:left;
	margin-right:10px;
}

div.jsonSuggestResults div.resultItem p {
	margin:0px;
	padding:0px;
}

div.jsonSuggestResults div.resultItem p strong {
	font-weight:bold;
	text-decoration:underline;
}

div.jsonSuggestResults div.resultItem p.extra {
	font-size: x-small !important;
	position:absolute;
	bottom:3px;
	right: 3px;
}
/*End New Jquery suggestion css by - Md. Jubydul Haque*/


/*
** left_col	start
*/
.left_col {
	width:20%;
	float:left;
	padding: 10px 0px 0px 10px;
}

.left_col h2 {
	margin:0px;
	font-size:15px;
	background:#005221;
	color:#fff;
	width:210px;
	height:30px;
	line-height:30px;
	padding-left:10px;
}

#main_nav, #main_nav ul {
	list-style-type:none;
	margin: 0;
	padding:0px;
	width: 220px;
}

#main_nav a {
	display: block;
	text-decoration: none;	
}

#main_nav li {
	line-height:20px;
	background:#DDEBE3;
	border-bottom: 1px groove #fff;
}

#main_nav li a {
	color: #005221;	
	padding: 5px 5px 5px 10px;
	font-size:14px;
	font-weight:bold;
}


#main_nav li a:hover {
	background: #d9d9d9;
}

#main_nav li ul {
	
}

#main_nav li ul li {
	border-top: 1px solid #d9d9d9;
	border-bottom: none;
	background: #005221;
}

#main_nav li ul li a {
  color: #eee;
  font-weight:normal;
  padding-left: 30px;
}

#main_nav li ul li a:hover {
  background: #DDEBE3;
  color:#005221;
}
/*
** left_col	end
*/


/*
** center_col	start
*/

.breadcrumb {
	font-size:90%;
	line-height:40px;
	margin:0px;
	padding:0px 0px 0px 260px;

}

.center_col {
	width:60%;
	float:left;
}

.frm_title {
	font-weight:bold;
	color:#000;
	font-size:90%;
}

.container {
	width: 100%;
}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	/*list-style: none;*/
	height: 32px;
	/*border-bottom: 1px solid #2c89b5;
	border-left: 1px solid #2c89b5;*/
	width: 19%;
}

ul.tabs li {
	/*float: left;*/
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #2B2D93;
	border-right: none;
	margin-bottom: -1px;
	background: #fff;
	overflow: hidden;
	/*position: relative;*/
}

ul.tabs li span {
		color: #2c89b5;
		font-weight:bold;
        display: block;
        font-size:13px;
        padding: 0 15px;
        border: 1px solid #fff;
		height:20px;
}

ul.tabs li a {
	text-decoration: none;
	color: #2B2D93;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	display: block;
	font-size:13px;
	padding: 0 15px;
	/*border: 1px solid #fff;*/
	outline: none;
}

ul.tabs li a:hover {
	background: #8fc83d;
	color: #262882;
	/*text-shadow: 0 1px 0 rgba(30,32,102,0.5);*/
}

html ul.tabs li.active, html ul.tabs li.active a  {
	background: #2B2D93;
	color:#8fc83d;
}

.tab_container {
	border: 1px solid #2B2D93;
	/*border-top: none;*/
	float: left;
	width: 80%;
	background: #fff;
	padding:15px 0px 15px 0px;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.tab_content {
	font-size:100%;
	padding:0px 15px 0px 15px;
	min-height:300px;
	font-family:Arial, Helvetica, sans-serif;
}

.viewCls {
	padding:0px;
	margin:40px 0px 0px 0px;
	height:350px;
	position:relative;
}

.viewCls .ui-widget {
	margin:0px auto 0px auto;
}

.frmTbl {
	margin:0px auto 0px auto;
	border:0px;
}

.frmTbl td {
	padding:3px;
}


/*
** center_col	end
*/

.profile_tab {
	
}

/*
** right_col	start
*/
.right_col {
	width:20%;
	float:left;
}

.alert_box {
	width:218px;
	padding:0px;
	margin:0px 0px 20px 15px;
	min-height:200px;
	border:1px solid #2C89B5;
}

.alert_box h2 {
	margin:0px;
	font-size:15px;
	background:#2C89B5;
	color:#fff;
	width:208px;
	height:30px;
	line-height:30px;
	padding-left:10px;
}
/*
** right_col	end
*/
/*
** main_body	end
*/

/*
** report start
*/
.report {
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
}

.view_report_btn {
	color:#eee;
	background:#2C89B5;
	width:220px;
	padding:5px;
	margin:5px auto 15px auto;
	font-size:14px;
	font-weight:bold;
	-moz-border-radius:5px;
	cursor:pointer;
}

.report_head {
	background:#2C89B5;
	padding:5px;
}

.report_head h1,h2 {
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	margin:0px;
	padding:0px;
	font-weight:bold;
	text-transform:uppercase;
}

.report_head h1 {
	font-size:18px;
	line-height:25px;
}

.report_head h2 {
	font-size:14px;
}

.report_content {
	padding:5px;
}

.report_content h2 {
	width:79%;
	font-size:14px;
	color:#2C89B5;
	margin:0px auto 0px auto;
	padding:5px;
	text-align:left;
	font-weight:bold;
	background:#d9d9d9;
	text-transform:capitalize;
	font-variant:small-caps;
}
/*
** report end
*/

#principal_applicant {
	width:80%;
	float:left;
}

#principal_applicant_photo {
	width:20%;
	float:left;
	text-align:right;
	padding-top:20px;
}


#nonDprincipal_applicant {
	width:80%;
	float:left;
}

#nonDprincipal_applicant_photo {
	width:20%;
	float:left;
	text-align:right;
	padding-top:20px;
}

#nonDJprincipal_applicant {
	width:80%;
	float:left;
}

#nonDJnominee_applicant_photo {
	width:20%;
	float:left;
	text-align:right;
	padding-top:20px;
}

#nominee_applicant_photo {
	width:20%;
	float:left;
	text-align:right;
	padding-top:20px;
}


/*
* css drop down menu start
*/

#nav{
	list-style:none;
	font-weight:bold;
	margin:0px;
	/* Clear floats */
	float:left;
	width:100%;
	padding:0px;
	background:#d6d6d6;
	border-top:1px solid #2b2d93;
	border-bottom:1px solid #2b2d93;
	/* Bring the nav above everything else--uncomment if needed.
	position:relative;
	z-index:5;
	*/
}
#nav li{
	float:left;
	margin-right:0px;
	position:relative;
}
#nav a{
	display:block;
	padding:5px 10px 5px 10px;
	color:#2b2d93;
	font-size:12px;
	/*text-shadow:#fff 1px 1px 0px;*/
	text-decoration:none;
}
#nav a:hover{
	text-decoration:none;
}

/*--- DROPDOWN ---*/
#nav li ul{
	background:#c0e693; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	/*background:rgba(255,255,255,0);*/ /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:absolute;
	padding:0px;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
	font-weight:normal;
	text-shadow:none;
	border:1px solid #4447c8;
	-moz-box-shadow: 3px 3px 4px #4447c8;
	-webkit-box-shadow: 3px 3px 4px #4447c8;
	box-shadow: 3px 3px 4px #4447c8;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	z-index:1;
}
#nav ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
}
#nav ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	color:#8fc83d;
	background:#2b2d93;
	text-decoration:none;
	text-shadow:none;
}
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
	border:none;
	color:#000;
	text-shadow:none;
}
#nav li:hover ul li a{
	background:#f5fbee;/*#f0f0f0;*/
}
#nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	color:#8fc83d;
	background:#2b2d93;
}

/*Forms Related Styles Start*/
input {
	padding: 5px 5px 5px 5px;
    border: 1px solid #aaa;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}


input:focus {
	/*#abd66b*/
    background-color: #fff;
    border-color: #abd66b;/*#e8c291*/
    outline: none;
    -moz-box-shadow: 0 0 0 1px #abd66b inset;/*#e8c291*/
    -webkit-box-shadow: 0 0 0 1px #abd66b inset;/*#e8c291*/
    box-shadow: 0 0 0 1px #abd66b inset;/*#e8c291*/
}

fieldset {
	border:1px solid #2b2d93;/*#2c89b5;*/
	padding:10px;
	margin:10px 0px 20px 0px;
}

select {
	min-width: 150px;
	padding: 4px 4px 4px 4px;
    border: 1px solid #aaa;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

select:focus {
    background-color: #fff;
    border-color: #abd66b;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #abd66b inset;
    -webkit-box-shadow: 0 0 0 1px #abd66b inset;
    box-shadow: 0 0 0 1px #abd66b inset;
}

textarea {
	padding: 4px 4px 4px 4px;
    border: 1px solid #aaa;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

textarea:focus {
    background-color: #fff;
    border-color: #abd66b;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #abd66b inset;
    -webkit-box-shadow: 0 0 0 1px #abd66b inset;
    box-shadow: 0 0 0 1px #abd66b inset;
}

input[type=reset],input[type=button],input[type=submit] {
	/*from(#b3d979), to(#8fc83c)*/
	background-color: #8fc83c;/*#ffb94b*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b3d979), to(#8fc83c));/*from(#fddb6f), to(#ffb94b)*/
    background-image: -webkit-linear-gradient(top, #b3d979, #8fc83c);
    background-image: -moz-linear-gradient(top, #b3d979, #8fc83c);
    background-image: -ms-linear-gradient(top, #b3d979, #8fc83c);
    background-image: -o-linear-gradient(top, #b3d979, #8fc83c);
    background-image: linear-gradient(top, #b3d979, #8fc83c);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    
     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    
    border-width: 1px;
    border-style: solid;
    border-color: #8bc437 #83b834 #78a930 #73a02e;/*#d69e31 #e3a037 #d5982d #e3a037;*/

    height: 35px;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #3f571a;/*#8f5a0a;*/
}
.editButton{
	display:block;
	background-color:#039;
	color:#FFF;
	font-size:16px;	
}

input[type=reset]:hover,input[type=reset]:focus,input[type=button]:hover,input[type=button]:focus,input[type=submit]:hover,input[type=submit]:focus {		
    /*from(#8fc83c), to(#b3d979)*/
	background-color: #b3d979;/*#fddb6f*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8fc83c), to(#b3d979));/*from(#ffb94b), to(#fddb6f)*/
    background-image: -webkit-linear-gradient(top, #8fc83c, #b3d979);
    background-image: -moz-linear-gradient(top, #8fc83c, #b3d979);
    background-image: -ms-linear-gradient(top, #8fc83c, #b3d979);
    background-image: -o-linear-gradient(top, #8fc83c, #b3d979);
    background-image: linear-gradient(top, #8fc83c, #b3d979);
}	

input[type=reset]:active,input[type=button]:active,input[type=submit]:active {		
    outline: none;
   
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

input[type=reset]::-moz-focus-inner,input[type=button]::-moz-focus-inner,input[type=submit]::-moz-focus-inner {
  border: none;
}


.FormSelectTypeInput {
	width:150px;
	text-align:left;
	padding: 5px 5px 5px 20px;
    margin: 0 0 10px 0;
}

.FormTextTypeInput {
	width:120px;
	text-align:left;
	padding: 5px 5px 5px 20px;
    margin: 0 0 10px 0;
}

.FormDateTypeInput {
	background-image:url('../images/calender.png'); 
	background-repeat:no-repeat;
	background-position:195px 3px !important;
	background-size:15px 15px;
	cursor:pointer;
	width:120px;
	text-align:left;
	padding: 5px 5px 5px 20px;
}

.FormPercentTypeInput {
	width:100px;
	text-align:right;
	font-family:Tahoma, Geneva, sans-serif;
	padding: 5px 5px 5px 20px;
    margin: 0 0 10px 0;
}

.FormNumericTypeInput {
	width:100px;
	text-align:right;
	font-family:Tahoma, Geneva, sans-serif;
	padding: 5px 5px 5px 20px;
    margin: 0 0 10px 0;
}

.FormTextAreaTypeInput {
    height: 87px;
    margin: 0 0 10px;
    padding: 5px 5px 5px 20px;
    text-align: left;
    width: 375px;
}

.FormSubmitBtn {
	/*width:150px;*/
}

.FormBtn {
	width:80px;
}

.FormCheckBoxTypeInput {
	
}

.FormRadioTypeInput {

}

.FormFileTypeInput {
	width:195px;
}

.FormPasswordTypeInput {
	width:120px;
}

.FormResetBtn {
	width:80px;
}

.motherTbl {
	width:100%;
	margin:0px;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	font-size:80%;
}

.motherTbl td {
	padding:4px;
	margin:0px;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

.motherTbl fieldset {
    width:90%;
}

.motherTbl legend {
    font-size:100%;
}

.motherTbl .head {
	background:#f0f0f0;
	font-weight:bold;
}

.vtblHeader {
	width:45%;
	margin:0px 0px 30px 0px;
	padding:0px;
}

.vtblHeader td {
	padding:4px;
	margin:0px;
	border:0px;
}

.vtblHeader h3 {
	text-align:center;
	margin:0px;
}

.vtbl {
	width:80%;
	margin:0px;
	padding:0px;
	text-align:center;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
}

.vtbl td {
	padding:4px;
	margin:0px;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

.vtbl tr:hover {
	background:#ffffe5;
}

.vtbl .oddRow {
	background:#e5ffe5;
}

.vtbl .evenRow {
	background:#ffffff;
}




/*Forms Related Styles End*/


/*test css start*/
#contact-overlay {background-color:#000;}

/* Container */
#contact-container {font: 16px/22px 'Trebuchet MS', Verdana, Arial; text-align:left; width:450px;}
#contact-container .contact-content {background-color:#333; color:#ddd; height:40px;}
#contact-container h1 {color:#d76300; font-size:20px; line-height:20px; margin:0; padding:0 0 6px 12px; text-align:left;}
#contact-container .contact-loading {background:url(../images/loading.gif) no-repeat; height:55px; margin:-14px 0 0 190px; padding:0; position:absolute; width:54px; z-index:8000;}
#contact-container .contact-message {text-align:center;}
#contact-container .contact-error {background:#000; border:2px solid #ccc; font-size:14px; font-weight:bold; line-height:18px; margin:0 auto; padding:2px; width:92%;}
#contact-container br {clear:both;}
#contact-container form {margin:0; padding:0;}
#contact-container label {clear:left; display:block; float:left; font-weight:bold; padding-right:4px; text-align:right; width:100px;}
#contact-container .contact-input {background:#eee; border:1px solid #fff; font-family:'Trebuchet MS', Verdana, Arial; float:left; padding:2px; margin:2px; width:300px;}
#contact-container textarea {height:114px;}
#contact-container .contact-cc {cursor:default; font-size:14px; vertical-align:top;}
#contact-container .contact-top {background-color:#333; height:13px; margin:0; padding:0; -webkit-border-top-left-radius:8px; -webkit-border-top-right-radius:8px; -moz-border-radius-topleft:8px; -moz-border-radius-topright:8px; border-radius:8px 8px 0 0;}
#contact-container .contact-bottom {background-color:#333; font-size:12px; height:13px; line-height:12px; text-align:center; -webkit-border-bottom-right-radius:8px; -webkit-border-bottom-left-radius:8px; -moz-border-radius-bottomright:8px; -moz-border-radius-bottomleft:8px; border-radius:0 0 8px 8px;}
#contact-container .contact-bottom a,
#contact-container .contact-bottom a:link,
#contact-container .contact-bottom a:active,
#contact-container .contact-bottom a:visited {color:#666; position:relative; top:-4px; text-decoration:none;}
#contact-container .contact-bottom a:hover {color:#888;}
#contact-container .contact-button {background:#d76300; border:0; color:#fff; cursor:pointer; font-size:16px; font-weight:bold; height:26px; margin:4px 0 0 4px; text-align:center; vertical-align:middle; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}
#contact-container .contact-button:hover {background:#f49000;}
#contact-container a.modal-close,
#contact-container a.modal-close:link,
#contact-container a.modal-close:active,
#contact-container a.modal-close:visited {color:#999; font-size:18px; font-weight:bold; position:absolute; text-decoration:none; right:8px; top:0px;}
#contact-container a.modal-close:hover {color:#ccc;}
/*test css end*/



/*
*css drop down menu end
*/

/*
** footer	start
*/
.footer {
	width:100%;
	text-align:center;
	color:#fff;
	font-size:90%;
	padding:5px 0px 5px 0px;
	margin:0px 0px 0px 0px;
	background:#2b2d93;
}

.footer a{
	color:#8fc83d;
	text-decoration:none;
}
.owner {/*padding-top:12px;*/ font-size:80%; letter-spacing:3px;}
.footer a:hover {
	color:#cae4a3;
	text-decoration:underline;
}
/*
** footer	end
*/
.clear {
	clear:both;
	float:none;
}

.userInfo{ 
	color:#2b2d93;
	text-align:right;
	padding:5px 15px 5px 10px;
	font-size:80%;
}

.userInfo a { 
	font-weight:bold;
	color:crimson;
	text-decoration:none;
}
/*
** wrapper	end
*/
