html {
	height:100%;
	}
body {
	font-family:"Times New Roman", Times, serif;
	/*background:#fff url('../images/bg-head.jpg') center top repeat-x;*/
	border:none;
	height:100%;
	position:relative;
	margin:0px;
	}
.wraplogin {
	margin:0px auto 0px auto;
	-moz-border-radius-topleft:6px;
	-moz-border-radius-topright:6px;
	width:99%;
	border-top:40px inset blue;
	border-left:5px groove blue;
	border-right:5px groove blue;
	clear:both;
}
.banner {
	width:100%;
	text-align:center;
}

#login
{
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);  
    height: 240px;
    width: 400px;
    margin: -150px 0 0 -230px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          1px 1px   0 rgba(0,   0,   0,   .1),
          3px 3px   0 rgba(255, 255, 255, 1),
          4px 4px   0 rgba(0,   0,   0,   .1),
          6px 6px   0 rgba(255, 255, 255, 1),  
          7px 7px   0 rgba(0,   0,   0,   .1);
    box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
}

#login:before
{
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

#business_date_init {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);  
    height: 200px;
    width: 500px;
    margin: -150px 0 0 -230px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          1px 1px   0 rgba(0,   0,   0,   .1),
          3px 3px   0 rgba(255, 255, 255, 1),
          4px 4px   0 rgba(0,   0,   0,   .1),
          6px 6px   0 rgba(255, 255, 255, 1),  
          7px 7px   0 rgba(0,   0,   0,   .1);
    box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
}

#business_date_init:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

/*--------------------*/

h1 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 15px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}

#login  h1:before {
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 130px;   
}

#login h1:after {
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 130px;   
}

#business_date_init h1:before {
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 75px;   
}

#business_date_init h1:after {
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 75px;   
}

h1:after { 
    background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(left, #777, #fff);
    background-image: -moz-linear-gradient(left, #777, #fff);
    background-image: -ms-linear-gradient(left, #777, #fff);
    background-image: -o-linear-gradient(left, #777, #fff);
    background-image: linear-gradient(left, #777, #fff);      
    right: 0;
}

h1:before {
    background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(right, #777, #fff);
    background-image: -moz-linear-gradient(right, #777, #fff);
    background-image: -ms-linear-gradient(right, #777, #fff);
    background-image: -o-linear-gradient(right, #777, #fff);
    background-image: linear-gradient(right, #777, #fff);
    left: 0;
}

h4 {
    margin: 0 0 15px 0;
	font-weight:normal;
	text-align:center;
}

/*--------------------*/

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

/*--------------------*/
#input_business_date_init input {
    background-image:url('../images/calender.png'); 
	background-repeat:no-repeat;
	background-position:120px 4px !important;
	background-size:26px 26px;
	cursor:pointer;
	font-weight:bold;
    padding: 9px 10px 9px 10px;
    margin: 0px;
    width:130px; /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

#inputs input {
    background: #f1f1f1 url(../images/login.png) no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 353px; /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

#username {
    background-position: 5px -2px !important;
}

#password {
    background-position: 5px -52px !important;
}

#inputs input:focus {
	/*#abd66b*/
    background-color: #fff;
    border-color: #abd66b;/*#e8c291*/
    outline: none;
    -moz-box-shadow: 0 0 0 1px #abd66b inset;/*#e8c291*/
    -webkit-box-shadow: 0 0 0 1px #abd66b inset;/*#e8c291*/
    box-shadow: 0 0 0 1px #abd66b inset;/*#e8c291*/
}

/*--------------------*/
.actions {
    margin: 25px 0 0 0;
}

.submit {		
    /*from(#b3d979), to(#8fc83c)*/
	background-color: #8fc83c;/*#ffb94b*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b3d979), to(#8fc83c));/*from(#fddb6f), to(#ffb94b)*/
    background-image: -webkit-linear-gradient(top, #b3d979, #8fc83c);
    background-image: -moz-linear-gradient(top, #b3d979, #8fc83c);
    background-image: -ms-linear-gradient(top, #b3d979, #8fc83c);
    background-image: -o-linear-gradient(top, #b3d979, #8fc83c);
    background-image: linear-gradient(top, #b3d979, #8fc83c);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    
     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    
    border-width: 1px;
    border-style: solid;
    border-color: #8bc437 #83b834 #78a930 #73a02e;/*#d69e31 #e3a037 #d5982d #e3a037;*/

    float: left;
    height: 35px;
    padding: 0;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #3f571a;/*#8f5a0a;*/
}

.submit:hover,.submit:focus {		
    /*from(#8fc83c), to(#b3d979)*/
	background-color: #b3d979;/*#fddb6f*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8fc83c), to(#b3d979));/*from(#ffb94b), to(#fddb6f)*/
    background-image: -webkit-linear-gradient(top, #8fc83c, #b3d979);
    background-image: -moz-linear-gradient(top, #8fc83c, #b3d979);
    background-image: -ms-linear-gradient(top, #8fc83c, #b3d979);
    background-image: -o-linear-gradient(top, #8fc83c, #b3d979);
    background-image: linear-gradient(top, #8fc83c, #b3d979);
}	

.submit:active {		
    outline: none;
   
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

.submit::-moz-focus-inner {
  border: none;
}

#actions a {
    color: #3151A2;    
    float: right;
    line-height: 35px;
    margin-left: 10px;
}

.validMsg {
	color:green;
}

.errorMsg {
	color:#FF0000;
}

.logfooter {
	position:absolute;
	width:100%;
	text-align:center;
	color:#fff;
	padding:10px 0px 10px 0px;
	margin:0px 0px 0px 0px;
	background:#2b2d93;
	font-family:Arial, Helvetica, sans-serif;
	font-size:70%;
	letter-spacing:3px;
}

.logfooter a{
	color:#8fc83d;
	text-decoration:none;
}

.logfooter a:hover {
	color:#cae4a3;
	text-decoration:underline;
}


